<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Users</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
<header>
    <div th:replace="/fragments/header :: ul"></div>
</header>

<main>
    <div id="all-users-container">
        <ul th:if="${allUsers != null}">
            <li th:each="user : ${allUsers}">
                <a th:text="${user.username}" th:href="${'/profile/' + user.id}"></a>
            </li>
        </ul>
        <h2 th:else="${'No Posts'}"></h2>
    </div>
</main>
</body>
</html>