<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Code Fellowship</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/index.css">

</head>
<body>
<header>
    <ul>
        <li th:if="${username != null}"><a href="/logout" th:text="${'Log Out ' + username}"></a></li>
        <li th:if="${username == null}"><a href="/login" >Log In</a></li>
        <li th:if="${username == null}"><a href="/sign-up" >Sign Up</a></li>
        <li><a href="/">home</a></li>
    </ul>
</header>

<main>
    <div id="title-container">
        <h1>Code Fellowship</h1>
    </div>
    <div th:if="${username == null}"><p>Join the Code Fellowship community and meet up with other coders.</p></div>
    <div th:if="${username != null}"><p th:text="${'Welcome to Code Fellowship ' + username + '.'}"></p></div>
</main>
</body>
</html>