<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Profile</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/user-details.css">
    <link rel="stylesheet" href="/css/my-profile.css">

</head>

<header>
    <div th:replace="/fragments/header :: ul"></div>
</header>

<main>
    <div class="user-details-container">
        <ul>
            <div class="user-detail-duos">
                <li class="user-detail-label">First Name</li>
                <li th:text="${applicationUser.firstName}"></li>
            </div>
            <div class="user-detail-duos">
                <li class="user-detail-label">Last Name</li>
                <li th:text="${applicationUser.lastName}"></li>
            </div>
            <div class="user-detail-duos">
                <li class="user-detail-label">Username</li>
                <li th:text="${applicationUser.username}"></li>
            </div>
            <div class="user-detail-duos">
                <li class="user-detail-label">Date of Birth</li>
                <li th:text="${applicationUser.dateOfBirth}"></li>
            </div>
            <div class="user-detail-duos">
                <li class="user-detail-label">Bio</li>
                <li th:text="${applicationUser.bio}"></li>
            </div>
        </ul>
        <img src="/images/default-profile.png"/>

    </div>
    <article th:each="post : ${applicationUser.postList}">
        <h2 class="subject" th:text="${post.subject}"></h2>
        <p class="date" th:text="${post.createdAt}"></p>
        <div class="postcontent-container">
            <p th:text="${post.body}"></p>
        </div>
    </article>
    <form id="post-form" action="/add-post" method="post">
        <fieldset>
            <legend>Make a new Post</legend>
            <label for="subject">Subject</label>
            <input id="new-content-subject" type="text" name="subject" required>
            <label for="body">Content</label>
            <textarea id="new-content-text" type="text" name="body" required></textarea>
            <input class="button" type="submit" value="Submit Post">
        </fieldset>
    </form>
</main>

<body>

</body>
</html>