<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/user-details.css">
</head>
<body>

<header>
    <div th:replace="/fragments/header :: ul"></div>
</header>

<main>
    <div class="user-details-container">
        <ul th:if="${publicUser != null}">
            <div class="user-detail-duos">
                <li class="user-detail-label">First Name</li>
                <li th:text="${publicUser.firstName}"></li>
            </div>
            <div class="user-detail-duos">
                <li class="user-detail-label">Last Name</li>
                <li th:text="${publicUser.lastName}"></li>
            </div>
            <div class="user-detail-duos">
                <li class="user-detail-label">Username</li>
                <li th:text="${publicUser.username}"></li>
            </div>
            <div class="user-detail-duos">
                <li class="user-detail-label">Date of Birth</li>
                <li th:text="${publicUser.dateOfBirth}"></li>
            </div>
            <div class="user-detail-duos">
                <li class="user-detail-label">Bio</li>
                <li th:text="${publicUser.bio}"></li>
            </div>
        </ul>
        <img src="/images/default-profile.png"/>
    </div>
    <article th:each="post : ${publicUser.postList}">
        <h2 class="subject" th:text="${post.subject}"></h2>
        <p class="date" th:text="${post.createdAt}"></p>
        <div class="postcontent-container">
            <p th:text="${post.body}"></p>
        </div>
    </article>
</main>
</body>
</html>