<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/sign-up.css">
</head>
<body>
<header>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/sign-up">signup</a></li>
    </ul>
</header>
<main>
    <div id="title-container">
        <h1>Code Fellowship</h1>
    </div>

    <Form action="/create-account" method="post">
        <fieldset>
            <legend>Sign Up</legend>
            <div class="signup-block">
                <div class="input-block">
                    <label for="username">Username</label>
                    <input type="text" name="username" required>
                </div>
                <div class="input-block">
                    <label for="password">Password</label>
                    <input type="password" name="password" required>
                </div>
            </div>

            <div class="signup-block">
                <div class="input-block">
                    <label for="firstname">First Name</label>
                    <input type="text" name="firstname" required>
                </div>
                <div class="input-block">
                    <label for="lastname">Last Name</label>
                    <input type="text" name="lastname" required>
                </div>
            </div>

            <label for="dateofbirth"></label>
            <input type="date" name="date" required>

            <label for="bio"></label>
            <textarea name="bio" required>Enter bio text...</textarea>


            <input class="button" type="submit" value="Create Account">
        </fieldset>
    </Form>

</main>
</body>
</html>